body {
  margin:0;
  padding: 0;
}


th {
  background:#DDFE98;
}

a {
  color:black;
  text-decoration: none;
}

h1 {
  font-size:45px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:30px;
  color: white;
  background: linear-gradient(#00bf72, #a8eb12);
}


nav > ul, nav > ul > ul {
list-style-type: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(90deg, #051937, #004d7a, #008793);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  margin: auto;
}

th,td{
  text-align: center;
}

select {
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

button  {
   display: block; margin: 0 auto;
   margin-top: 20px;
  }

.maincontent {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

  #main-menu > li {
    float: left;
    position: relative;
  }

  #main-menu > li > a {
    font-size: 0.85rem;
    color: rgba(255,255,255,0.85);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 8px 17px;
    width: 120px;
    border-right: 1px solid rgba(0,0,0,0.15);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }

  #main-menu > li:nth-child(1) > a {
    border-left: 1px solid rgba(0,0,0,0.15);
  }

  #sub-menu {
    position: absolute;
    background: #182952;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    list-style: none;
  }

  #sub-menu > li {
    padding: 8px 17px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    text-align: center;
    width: 120px;
  }

  #sub-menu > li >  a {
    font-size: 0.8rem;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
  }

  #main-menu > li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #sub-menu > li >  a:hover {
   text-decoration: underline;
  }

  #content-info {
    text-align: left;
  }

  .langbox {
    margin-top: 20px;
    text-align: right;
  }

  #page-info {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  #information {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color: white;
    background:#626161;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 10px;
  }

  #information > h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #office-info {
    margin-left: 30%;
  }

  #developer-info {
    margin-right: 30%;
  }
